.r-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.r-container {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.r-head {
    margin-bottom: 2rem;
    text-align: center;
}

.r-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
    height: 380px;
    transition: all 300ms ease-in;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.r-card img {
    width: 100%;
    max-width: 200px;
    height: 150px; 
    object-fit: cover;
    border-radius: 10px;
}

.r-text {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.r-text .primaryText {
    font-size: 1.2rem;
    font-weight: bold;
}

.r-text .secondaryText {
    font-size: 0.9rem;
    color: gray;
    padding: 0 10px; 
}
