
.v-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
  }
  
  .v-left {
    position: relative;
    left: 120px; 
  }
  
  .image-container {
    border: 8px solid rgb(232, 232, 232, 93%);
    margin-top: 250px;
    position: relative;
    top: 35px;
    width: 500px;
    height: 500px;
  }
  
  
  .v-right {
    flex: 1;
    padding-left: 50px;
  }



  .accordion{
    margin-top: 2rem;
    border: none;
  }

  .accordionItem{
    background: white;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }

.accordionItem.expanded{
    box-shadow: var(--shadow);
    background-repeat: 6px;

  }

.accordionButton{
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.icon{
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;
}

.icon svg{
    fill:var(--blue)
}


  .heading{
    font-size: 18px;
    font-weight: 600;
    color: #1f3e72;
  }

  .detail{
    font-size: 13px;
    color:rgb(114, 113, 113);
  }
 

  
  